<div class="books">
  <div>
    <img
      class="book-image"
      src="https://m.media-amazon.com/images/I/41fsbfA0fiL._SX342_SY445_FMwebp_.jpg"
      alt="dave ramzey"
    />
    <a
      href="https://www.amazon.com/sspa/click?ie=UTF8&spc=MTo1MTQyNjYwMzI0OTEyMDg5OjE3NjUzNzc0NTM6c3BfYXRmOjMwMDE5NTA2NzIwNDMwMjo6MDo6&url=%2FTotal-Money-Makeover-Updated-Expanded%2Fdp%2F140034252X%2Fref%3Dsr_1_1_sspa%3Fcrid%3DPHQVRIQ234NA%26dib%3DeyJ2IjoiMSJ9.eQnJ35WI7z15kBkKggRgCgx3e0ZVIeaUz1DhUwanjqv_vJvq5K4QOydy9AGWd0A2EqvY7c2uvMWe8FvcoohV4_52jOcluciGAdjKEjs6WrSiN-Lm6zDGH8HA6bh3qxb3FmmDRNdtYTPIodX3ZfzlntuFznO5okq5t5pHnNiCUG0YVTT5DiMuAehdlWtcMHYv6YFF1_ar6gvEJl5XExQH28IP6XijEEcC73Ss2EweGykwcFbyrVIWvOBgL8vUZDgHGnqkPJQ965Hb-ofmR4xMxb8LERw8qp8xSwqO37M81Pc.mnYesrStqg0m27Blh_8kbheJR9wrTxWwZxR1d3lNRJY%26dib_tag%3Dse%26keywords%3Ddave%2Bramsey%26qid%3D1765377453%26sprefix%3Ddave%2Bramsey%252Caps%252C123%26sr%3D8-1-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGY%26psc%3D1"
      >The Total money Makeover
    </a>
  </div>
  <div>
    <img
      img
      class="book-image"
      src="https://m.media-amazon.com/images/I/71m4aRwGYQL._AC_UL640_FMwebp_QL65_.jpg"
      alt="Financial literacy"
    />
    <a
      href="https://www.amazon.com/Financial-Literacy-Young-Adults-Simplified/dp/B0C9SHJZS9/ref=sxin_17_pa_sp_search_thematic_sspa?content-id=amzn1.sym.f0e9aec8-2844-49ab-bbaa-8468b42715cd%3Aamzn1.sym.f0e9aec8-2844-49ab-bbaa-8468b42715cd&crid=1ZPZJC5GL85QU&cv_ct_cx=financial+books&keywords=financial+books&pd_rd_i=B0C9SHJZS9&pd_rd_r=d1532dab-f2b4-4f6d-ab76-d4300338bfce&pd_rd_w=0wI3o&pd_rd_wg=zRHAs&pf_rd_p=f0e9aec8-2844-49ab-bbaa-8468b42715cd&pf_rd_r=1M9GHPN9FCPQS73DQAVM&qid=1765377766&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=financial+books%2Caps%2C129&sr=1-1-6024b2a3-78e4-4fed-8fed-e1613be3bcce-spons&aref=7ZBHLLdN91&sp_csd=d2lkZ2V0TmFtZT1zcF9zZWFyY2hfdGhlbWF0aWM&psc=1"
      >Financial Literacy for Yourn Adults Simplified
    </a>
  </div>

  <div>
    <img
      img
      class="book-image"
      src="https://m.media-amazon.com/images/I/71WBIwbbTdL._AC_UL640_FMwebp_QL65_.jpg"
      alt="Financial literacy"
    />
    <a
      href="https://www.amazon.com/Dave-Ramseys-Complete-Guide-Money/dp/1937077209/ref=sr_1_7?crid=24BOC111BLQDW&dib=eyJ2IjoiMSJ9.eQnJ35WI7z15kBkKggRgCt8sFv-qEVLyT-GFHP7PnBEfEe-7XlIzAcX3IMOii0I6uEmGUlokjdraA0BKyWjUCPcQ7GzVbEJU9hQjt4V1HuiRZgUeZ9pk-HlWzGjBWqeyih62LVOKRJ3gGus7QaDwW1GP8ezNinYeC_iqD2Ewpuqr38_OaLBcOeO25_-aYTT86DfYo-6YMEjWbfmtEFRnI8YbZtL3zteia56smQD842_tFC3ZlZGtIMLK4Q6XpvFXX1D5zzQy6XWysDBdI684_kMihXOt5rAre4qxUJ8_DZk.3Xx3KZ5tFHVZenOIOx25xgRG8g18F1GbVyYkzuYWd6s&dib_tag=se&keywords=dave+ramsey&qid=1765378504&s=books&sprefix=dave+ramsey%2Cstripbooks%2C102&sr=1-7"
      >The Complete Guilde to Money
    </a>
  </div>
  <div>
    <img
      img
      class="book-image"
      src="https://m.media-amazon.com/images/I/81BE7eeKzAL._SY522_.jpg"
      alt="Rich dad poor dad"
    />
    <a
      href="https://www.amazon.com/Rich-Dad-Poor-Teach-Middle/dp/1612681131/ref=sr_1_8?crid=2QTJ5N7QUDCV1&dib=eyJ2IjoiMSJ9.8KREAILoqd3B2zFPpsJR6J0dsm_pmd48kpYCQ8DaXdU_Q4gcjkfRVCnZFCIczJ8Tt9CH1FAWfdAwvxZD_nNVNpaSPlnFHb-F-eAALepuAO3OLMVENOps8wsjBPnQvz5lxU8jf9YZv_HszCxFeBlyfJdIuGri9kg3srtJAHXi_990ibEkV0CBdFzEaG5WgSWs40xWYvCx1TfQAADqXvB9if9CjSJcZGGqsh93mnZ0Rivy5uqZX9zlFfuexDYJm6eZDDNV2BQvbt_cTUwXin4L3qAPBJknH8dOYz4vZjjt7e0.ytdYQxZYxIJGGgQxSxEPzky8Ew7jqUs6m2hGLVSKYNQ&dib_tag=se&keywords=financial+books&qid=1765378604&s=books&sprefix=finanical+books%2Cstripbooks%2C93&sr=1-8"
      alt="ric dad poor dad"
    >
      Rich Dad Poor Dad</a
    >
  </div>
</div>
