<p>cart works!</p>
<div>
  <img
    class="book-image"
    src="https://m.media-amazon.com/images/I/41fsbfA0fiL._SX342_SY445_FMwebp_.jpg"
    alt="dave ramzey"
  />
  <a
    href="https://www.amazon.com/sspa/click?ie=UTF8&spc=MTo1MTQyNjYwMzI0OTEyMDg5OjE3NjUzNzc0NTM6c3BfYXRmOjMwMDE5NTA2NzIwNDMwMjo6MDo6&url=%2FTotal-Money-Makeover-Updated-Expanded%2Fdp%2F140034252X%2Fref%3Dsr_1_1_sspa%3Fcrid%3DPHQVRIQ234NA%26dib%3DeyJ2IjoiMSJ9.eQnJ35WI7z15kBkKggRgCgx3e0ZVIeaUz1DhUwanjqv_vJvq5K4QOydy9AGWd0A2EqvY7c2uvMWe8FvcoohV4_52jOcluciGAdjKEjs6WrSiN-Lm6zDGH8HA6bh3qxb3FmmDRNdtYTPIodX3ZfzlntuFznO5okq5t5pHnNiCUG0YVTT5DiMuAehdlWtcMHYv6YFF1_ar6gvEJl5XExQH28IP6XijEEcC73Ss2EweGykwcFbyrVIWvOBgL8vUZDgHGnqkPJQ965Hb-ofmR4xMxb8LERw8qp8xSwqO37M81Pc.mnYesrStqg0m27Blh_8kbheJR9wrTxWwZxR1d3lNRJY%26dib_tag%3Dse%26keywords%3Ddave%2Bramsey%26qid%3D1765377453%26sprefix%3Ddave%2Bramsey%252Caps%252C123%26sr%3D8-1-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGY%26psc%3D1"
    >The Total money Makeover
  </a>
</div>
<div>
  <img
    img
    class="book-image"
    src="https://m.media-amazon.com/images/I/71m4aRwGYQL._AC_UL640_FMwebp_QL65_.jpg"
    alt="Financial literacy"
  />
  <a
    href="https://www.amazon.com/Financial-Literacy-Young-Adults-Simplified/dp/B0C9SHJZS9/ref=sxin_17_pa_sp_search_thematic_sspa?content-id=amzn1.sym.f0e9aec8-2844-49ab-bbaa-8468b42715cd%3Aamzn1.sym.f0e9aec8-2844-49ab-bbaa-8468b42715cd&crid=1ZPZJC5GL85QU&cv_ct_cx=financial+books&keywords=financial+books&pd_rd_i=B0C9SHJZS9&pd_rd_r=d1532dab-f2b4-4f6d-ab76-d4300338bfce&pd_rd_w=0wI3o&pd_rd_wg=zRHAs&pf_rd_p=f0e9aec8-2844-49ab-bbaa-8468b42715cd&pf_rd_r=1M9GHPN9FCPQS73DQAVM&qid=1765377766&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=financial+books%2Caps%2C129&sr=1-1-6024b2a3-78e4-4fed-8fed-e1613be3bcce-spons&aref=7ZBHLLdN91&sp_csd=d2lkZ2V0TmFtZT1zcF9zZWFyY2hfdGhlbWF0aWM&psc=1"
    >Financial Literacy for Yourn Adults Simplified
  </a>
</div>
