footer {
  background: rgb(59, 58, 57);
  color: white;
  padding: 2rem;
  text-align: center;
}
.atags,
header {
  background-color: rgb(59, 58, 57);
  color: white;
  text-align: center;
  padding: 2rem;
}
